# CrateDB
CRATE_HEAP_SIZE=2g
CRATEDB_PORT=5433
ADMIN_UI_PORT=4200
CRATE_HOST=cratedb
CRATE_PORT=4200
LOGLEVEL=INFO
USE_GEOCODING=false
CACHE_QUERIES=true
WQ_MAX_RETRIES=5

# Base de datos PostgreSQL
POSTGRES_USER=iot_user
POSTGRES_PASSWORD=iot_password
POSTGRES_DB=iot_database

# Redes internas
NETWORK_NAME=iot-net

# API
API_PORT=80